.reset-password,
.reset-password>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.reset-password input {
    padding: 0.5rem;
    font-size: 1rem;
}

.reset-password button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.back-to-login:hover {
    cursor: pointer;
}