/* src/components/Navbar.module.css */

/* Navbar Container */
.navbar {
    width: 200px; /* Reduced width */
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-large) var(--spacing-medium);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: var(--font-primary); /* Apply primary font to navbar */
    overflow: hidden; /* Prevent content overflow */
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

/* User Information Section */
.userInfo {
    text-align: center;
    margin-bottom: var(--spacing-large);
}

.userName {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: var(--font-secondary); /* Use secondary font for user name */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ensure it doesn't exceed Navbar width */
}

.userRole {
    font-size: 1rem;
    color: var(--text-color-secondary);
    font-family: var(--font-primary);
}

/* Navigation List */
.navList {
    list-style: none;
    padding: 0;
    flex-grow: 1; /* Pushes the actionLinks to the bottom */
}

.navItem {
    font-size: 1rem;
    padding: var(--spacing-small) 0;
    margin: var(--spacing-small) 0;
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
    padding-left: var(--spacing-small);
    border-radius: 4px;
    color: var(--text-color-primary); /* Ensure text color uses variable */
    font-family: var(--font-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; /* Adjusted to fit within 200px Navbar */
    color: var(--text-color-secondary);

    display:flex;
    align-items: center;
    gap: 4px;
}

.navItem:hover {
    background-color: var(--hover-color-primary);
    color: var(--text-color-primary);
}

/* Action Links Section */
.actionLinks {
    display: flex;
    flex-direction: column;
}

.actionButton {
    padding: 0.5rem;
    margin-top: var(--spacing-small);
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-primary);
    font-weight: bold;
}

.actionButton:hover {
    background-color: var(--hover-color-secondary);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        width: 60px; /* Collapse to a smaller width on smaller screens */
        padding: var(--spacing-small);
    }

    .userInfo {
        display: none; /* Hide user info on smaller screens */
    }

    .navItem {
        text-align: center;
        padding: var(--spacing-small) 0;
        max-width: 100%;


        display:flex;
        align-items: center;
        justify-content: center;
    }

    .navItem:hover {
        background-color: var(--hover-color-primary);
    }

    .actionButton {
        padding: 0.25rem;
        font-size: 0.75rem;
    }

    .navItemText
    {
        display:none;
    }
}

.navItemIcon 
{
    font-size: 1.1em;
}

.navItemText
{

}
