.container {
    margin-left: 200px; /* Match Navbar width */
    padding: var(--spacing-large);
    max-width: 800px;
    margin: 0 auto 50px auto;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: var(--font-primary);
}

.title {
    font-size: 2rem;
    margin-bottom: var(--spacing-medium);
    color: var(--primary-color);
    font-family: var(--font-secondary);
    text-align: center;
}

.photosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust 200px to the size of your photos */
    gap: 16px;
    justify-items: center;
}

.photoCard {
    width: 200px; /* Ensure this matches your photo size */
    height: 240px; /* Extra height for the button space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
}

.photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.uploadSquare {
    width: 100%;
    height: 200px; /* Matches photo size */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #DB5375; /* Matches your design */
    border-radius: 8px;
    background-color: rgba(255, 0, 255, 0.05); /* Light background for hover */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.uploadSquare span {
    font-size: 2rem;
    color: #DB5375;
    font-family: var(--font-primary);
}

.uploadSquare:hover {
    background-color: rgba(255, 0, 255, 0.1); /* Slightly darker on hover */
    border-color: #C44C6D; /* Darker border on hover */
}

.uploadButton {
    margin-top: 8px;
    background: none;
    border: none;
    color: #DB5375;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.uploadButton:hover {
    color: #C44C6D;
}

.deleteButton {
    background: none;
    border: none;
    color: #DB5375;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.deleteButton:hover {
    color: #C44C6D;
}

.message, .error {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: var(--spacing-medium);
}
